// Search form
.search-form {
	@extend .form-inline;
}

.search-form label {
	font-weight: normal;

	@extend .form-group;
}

.search-form .search-field {
	@extend .form-control;
}

.search-form .search-submit {
	@extend .btn;
	@extend .btn-default;
}

input[type="text"],
input[type="email"],
textarea {
	font-family: sans-serif;
	font-size: 18px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 5px;
	transition: box-shadow 0.3s, border 0.3s;
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	box-shadow: none;

	appearance: none;

	&:focus,
	&.focus {
		border: solid 1px #707070;
		outline: none;
		box-shadow: 0 0 5px 1px #969696;
	}

	&.wpcf7-not-valid {
		border: solid 1px $brand-secondary;
	}
}

.wpcf7-not-valid-tip {
	margin-top: 5px;
	color: $brand-secondary !important;
}

.wpcf7-response-output {
	margin: 20px 0 0 0 !important;
	border-width: 3px !important;
	border-color: $brand-secondary !important;
}
