// Grid system

.container {
	max-width: 1280px;
	width: 100%;
	word-break: break-word;
}

.main {
	&--wide {
		margin: 0;
	}
}


.wrap .content {
	display: flex;
	flex-wrap: wrap;

	.sidebar,
	p {
		flex: 1 1 100%;
	}

	.sidebar {
		order: 1;
	}

	.main {
		order: 2;
		display: grid;
		column-gap: 1rem;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

.col-span-12 {
	grid-column: span 12/span 12;
}


body {
	&.single {
		.wrap .content {
			.main {
				display: block;
				flex: auto;
			}
		}
	}

	&.imprint {
		.wrap .content {
			.main {
				flex: auto;
				display: block;

				h2 {
					font-size: 1rem;
				}

				p {
					margin-left: 0;
				}
			}
		}
	}
}


