$time: 0.7s;

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 0;
	}
}

@keyframes showIt {
	from {
		right: -400px;
	}
	to {
		right: 0;
	}
}

@keyframes hideIt {
	from {
		right: 0;
	}
	to {
		right: -400px;
	}
}

.sidebar,
.navigation {
	display: none;
}

header {
	.nav-primary {
		opacity: 0;

		&.visible {
			transition: opacity 1s ease-out 2s;
			opacity: 1;
		}
	}

	.nav {
		margin: 0;
		padding: 1rem;

		list-style-type: none;

		li {
			text-align: left;
			padding-bottom: 0.5rem;

			a {
				&:hover {
					background-color: transparent;
				}
			}

			&.menu-item {
				&.current-menu-item {
					a {
						color: $brand-primary;
					}
				}
			}

			&:first-child {
				margin: 2rem 0;

				a {
					font-weight: 500;
					font-size: 1.5rem;
				}
			}
		}
	}

	a {
		&.menu-link {
			font-size: 1.25rem;
			position: absolute;
			top: 1rem;
			right: 1.25rem;
			text-decoration: none;
			color: #000000;


			&.active {
				color: rgba(0, 0, 0, 0.1);

				&::after {
					animation: fadeIn $time ease-in forwards,
					showIt $time ease-in forwards;

					@include mask();
				}
			}
		}
	}
}

#menu {
	position: fixed;
	z-index: 99;
	overflow-y: auto;
	padding-bottom: 4rem;
	height: 0;
	margin-left: $menuShadowWidth*-1;
	transition: left 2s ease-out;
	background-color: #ffffff;
	box-shadow: 2px 2px $menuShadowWidth rgba(0, 0, 0, 0.4);
}

/* ! ?? */
.push {
	position: relative;
}

@media (min-width: $screen-sm-min) {
	.menu-link {
		display: none;
	}
	#menu {
		left: -220px !important;
		margin-left: $menuShadowWidth*-1;
	}
	.sidebar,
	.navigation {
		display: block;
	}
}

@media (max-width: $screen-sm-min) {
	.main {
		width: 100% !important;
	}
}
