$menuHeight: 165px;

main,
article {
	width: 100%;
}

.container-fluid {
	max-width: 100%;
	width: 100%;
	padding: 0;
}

.container-fluid .content.row {
	width: 100%;
	margin: 0;
}

.swiper {
	&-wrapper {
		padding: 0;
		margin: 0;
		align-items: center;
	}

	&-slide {
		margin: 0;
		display: flex;
		overflow: hidden;

		justify-content: center;
		align-items: center;

		height: auto;
		width: 100vw;

		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;

		& img {
			max-width: 100%;
			width: auto;
			max-height: calc(100vh - #{$menuHeight});

			transition: height 50ms ease-in, opacity 0.1s ease-in;

			//lg
			@media (min-width: $screen-sm) {
				&.landscape {
				}

				&.portrait {
				}
			}

			&.isLoading {
				opacity: 0.1;
				height: calc(65vh);

				image-rendering: pixelated;
				filter: grayscale(60%);
			}
		}
	}

	&-container-horizontal {
		// sm
		@media (max-width: $screen-xs-max) {
			.swiper-button-next,
			.swiper-button-prev,
			.swiper-scrollbar {
				display: none;
			}
		}

		.swiper-pagination {
			position: relative;
			bottom: -5px;
			margin: 0;

			.swiper-pagination-bullet {
				width: 5px;
				height: 5px;

				&-active {
					background-color: $link;
				}
			}

		}

		//md
		@media (min-width: $screen-xs) and (max-width: $screen-lg-min) {
			.swiper-scrollbar,
			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}

		& > .swiper-scrollbar {
			display: none;
		}
	}
}
