// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
	max-width: 100%;
	height: auto;
	margin-right: 0;
	margin-left: 0;
}

.aligncenter {
	display: block;
	height: auto;
	margin: ($line-height-computed / 2) auto;
}

.alignleft,
.alignright {
	height: auto;
	margin-bottom: ($line-height-computed / 2);
}

@media (min-width: $screen-sm-min) {
	// Only float if not on an extra small device
	.alignleft {
		float: left;
		margin-right: ($line-height-computed / 2);
	}
	.alignright {
		float: right;
		margin-left: ($line-height-computed / 2);
	}
}


.wp-caption-text {
	padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}
