@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
	font-size: 16px;
}

html {
	font-size: 16px;

	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3rem;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	&.single-post {
		// sm
		@media (max-width: $screen-xs-max) {
			position: fixed;
			width: 100vw;
			height: 100vh;
		}
		//md
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			position: relative;
		}

		//lg
		@media (min-width: $screen-lg-min) {
			position: relative;
		}
	}
}

a {
	color: $brand-primary;

	&:hover {
		text-decoration: none;
		color: $brand-secondary;
	}
}


blockquote {
	font-size: 14px;
	padding: 0;
	border: none;

	p {
		display: inline
	}
}

main {
	font-size: 0.85rem;

	h4 {
		font-size: 1rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		max-width: 46rem;
		margin-right: auto;
		margin-left: auto;

		a {
			color: $link;
		}

		strong {
			font-weight: 400;
			color: #000000;
		}
	}
}
