// mixins
@mixin border-bottom($width) {
	border-bottom: $width solid $brand-secondary;
}

@mixin menuLink($fontSize, $width) {
	a {
		font-size: $fontSize;
		font-weight: 400;
		display: inline-block;
		transition: color 1s ease-in-out;
		text-decoration: none;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		color: $textColor;
		border-bottom: 2px solid transparent;
		&:hover,
		&:focus {
			color: $brand-primary;
			border-bottom: 2px solid $brand-primary;
		}
	}
	&.current_page_item {
		a {
			color: $brand-primary;

			@include border-bottom($width);
		}
	}
}

/* mobile menu hide & click mask */
@mixin mask {
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	content: "";
	opacity: 0; /* make things invisible upon start */
	background-color: rgba(0, 0, 0, 0.75);
}

@mixin logoBackground {
	background-image: url("../images/ulrike-kache-logo.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
