// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$grid-gutter-width: 40px;
$menuShadowWidth: 6px;

/* site layout */
$headerPosition: absolute;
$headerHeight: 160px;

// Colors
$textColor: #2c2c2c; // black
$white-bg: rgba(255, 255, 255, 0.72); // white
$white-bg-transparent-50: rgba(255, 255, 255, 0.5);

$brand-primary: #555;
$brand-secondary: #000;

$link: rgba(146, 73, 179, 1);
