.page-header {
	margin: 0;
	padding: 0;
	border: none;
}


header {
	&.banner {
		margin: 20px 0;
	}

	.brand {
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: black;
		outline: none;
		flex: 1 1 auto;
		font-size: 1rem;
		text-decoration: none;
	}
}

@media (min-width: $screen-sm-min) {
	.banner {
		display: none;
	}
}
