.main {
	> .page-header {
		display: none;
		text-align: center;
	}

	> article {
		position: relative;
		margin-bottom: 1rem;

		&.tag- {
			&sm {
				grid-column: span 12/span 12;
				@media (min-width: $screen-sm-min) {
					grid-column: span 3/span 3;
				}
			}

			&md {
				grid-column: span 12/span 12;
				@media (min-width: $screen-sm-min) {
					grid-column: span 4/span 4;
				}
			}

			&lg {
				grid-column: span 12/span 12;
				@media (min-width: $screen-sm-min) {
					grid-column: span 6/span 6;
				}
			}
		}
	}
}


.main article {
	position: relative;
	overflow: hidden;

	* {
		text-align: center;
	}

	/* hover the boxes */
	/* Primary input mechanism system can hover over elements with ease */
	//@media (hover: hover) {

	&:hover,
	&:active,
	&:focus {
		transform: translateZ(0);

		/* fade visual mask */
		section.entry-visual {
			&::after {
				opacity: 0.8;
				background-color: rgba(255, 255, 255, 1);
			}

			.videoplayer-play {
				&::before {
					transform: translate(-50%, -50%) scale(1.1);
				}
			}
		}

		/* fade text  */
		section.entry-info {
			opacity: 1;

			// sm
			@media (max-width: $screen-xs-max) {
				transform: translate(0, 0) scale(0.7);
			}

			//md
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				transform: translate(0, 0) scale(0.9);
			}

			//lg
			@media (min-width: $screen-lg-min) {
				transform: translate(0, 0) scale(1);
			}
		}
	}

	h2 {
		a {
			display: block;
			outline: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: -9999px;
		}
	}

	section {
		&.entry {
			&-visual {
				height: 100%;
				//object-fit: cover;

				img {
					width: 100%;
					//height: 100%;
					//object-fit: cover;

				}

				&::after {
					position: absolute;
					z-index: 1;
					top: 0;
					bottom: 0;
					display: block;
					width: 100%;
					content: "";
					transition: opacity 0.5s ease-in-out;
					opacity: 0;
					background-color: rgba(255, 255, 255, 1);
				}
			}

			&-info {
				font-weight: 300;
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				opacity: 0;
				color: #000;

				justify-content: center;

				.entry-title {
					font-weight: 200;
				}

				> header,
				.entry-summary {
					flex: 0 1 auto;
					padding: 0 1rem;
				}
			}
		}
	}

	&.has-post-thumbnail {
		padding: 0;
	}

	// video button
	.videoplayer-play {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 5rem;
			height: 5rem;
			content: "";
			transition: all 0.3s ease-out;
			transform: translate(-50%, -50%);
			border: 4px solid $white-bg-transparent-50;
			border-radius: 50%;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			content: "";
			transform: translate(-30%, -50%);
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-left: 24px solid $white-bg-transparent-50;
		}
	}
}
