.navigation {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: flex;
	}

	padding: 1rem 0;

	margin-bottom: 1rem;
	margin-top: 2rem;

	margin-left: 20px;
	margin-right: 20px;

	border-bottom: 1px solid rgba($brand-primary, 0.6);


	div {
		flex: 1 1 50%;
		display: flex;
		align-items: center;

		&.right {
			text-align: right;
		}

	}

	ul {
		text-transform: uppercase;
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			line-height: 1rem;
			flex: 0 1 auto;
			text-align: left;
			margin-right: 1rem;

			a {
				&:active,
				&:focus {
					outline: none;
					text-decoration: none;
				}
			}

			&.current-menu-item, {
				a {
					color: $brand-secondary;
					outline: none;

					&:active,
					&:focus {
						outline: none;
						text-decoration: none;
					}

				}
			}
		}
	}

	.brand {
		text-rendering: optimizelegibility;
		outline: none;
		flex: 1 1 auto;
		font-size: 2.3125rem;
		text-transform: uppercase;
		line-height: 0;
		font-weight: 400;
		text-decoration: none;
		letter-spacing: 0.02rem;
		color: $brand-secondary;
		margin-top: -12px;
		position: relative;
	}
}

body {
	&.home {
		.navigation {
			ul {
				li {
					&:first-child {
						a {
							color: $brand-secondary;
						}
					}
				}
			}
		}
	}
}
