html,
body,
.site--wrapper,
.site {
	height: 100%;

	.site {
		display: flex;
		flex-direction: column;

		justify-content: flex-start;

		@media (min-width: $screen-xs-max) {
			justify-content: space-between;
		}
	}
}
