h4 {
	font-size: 1rem;
	font-weight: 400;
	color: black;

}

.wpview-wrap {
	border: 1px dashed gray;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;

	&:after {
		font-weight: 500;
		padding: 10px;
		font-size: 0.75rem;
		content: "Auch Einzelbilder immer in Form einer Galerie einfügen. Zum bearbeiten anlicken.";
	}

	.gallery {
		margin: 0;
		padding: 0;
		overflow-y: hidden;
		overflow-x: auto;
		display: flex;
		align-items: center;

		dl {
			flex: 1 0 33%;
		}

	}
}
